@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: "#191919";
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.ant-layout-sider-children {
  background: #191919 !important;
}

::-webkit-scrollbar-thumb {
  background-color: #535657;
  border-radius: 15px;
}

.select-none {
  user-select: none;
}

.display-none {
  display: none;
}

.ant-breadcrumb-separator {
  display: none;
}

.menu-scroll {
  max-height: 500px;
  overflow-y: scroll;
}
